.discover {
  padding: 60px 0;

  &__grid {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }

  // &__desc {}

  &__title {
    margin-bottom: 24px;
  }

  &__text {
    margin-bottom: 40px;
  }

  &__form {
    position: relative;
    z-index: 30;
  }

  &__picture {
    position: relative;
  }

  &__picture-img {
    position: relative;
    z-index: -1;
  }

  &__picture-hint {
    position: absolute;
    top: 90px;
    left: 40px;
  }

  &__picture-scroll {
    position: absolute;git com
    right: 15px;
    bottom: 20px;
  }
}