.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &__logo {
        flex-shrink: 0;
    }

    &__btn {
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 12px;

        @media (max-width: 796px) {
            display: none;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            color: #181818;
        }

        a:hover,
        a:active {
            color: #35AFF4;
        }
    }

}

// .logo {
// }
// .active {
// }