.nav {
	display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

		&__btns {
            display: flex;
            gap: 12px;
		}

		&__list {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 24px;

            a {
                color: #181818;
            }

            a:hover,
            a:active {
                color: #35AFF4;
            }
		}
}
// .logo {
// }
// .active {
// }