.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;

    &__logo {
        flex-shrink: 0;
    }

    &__btns {
        display: flex;
        gap: 12px;

        @media (max-width: 780px) {
            display: none;
        }
    }

    &__icon {
        display: none;

        @media (max-width: 780px) {
            display: block;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 24px;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            color: #181818;
        }

        a:hover,
        a:active {
            color: #35AFF4;
        }
    }
}

// .logo {
// }
// .active {
// }