.scroll-down {
    position: relative;
    display: inline-block;

    &__text {
        animation: rotation 10s linear 0s infinite running normal;
    }

    &__link {
        display: block;
        transition: opacity 0.2s ease-in;
        
        &:hover {
            opacity: 0.8;
        }
    }

    &__icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}