.testimonials {

  &__grid {
    overflow: hidden;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }

  &__col {
    display: grid;
    gap: 32px;

    animation: slideUp 20s linear infinite;

    &:nth-child(2) {
      padding-top: 100px;
    }

    &:nth-child(3) {
      padding-top: 50px;
    }
  }
}